# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env

# Data
data/
*.pdf

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
crear_pptx.py
guion_presentador.md